﻿img,h3,p {margin:0;padding:0;}

div#sliderContainer {width:700px;}
div.sliderBox {	width:700px;height:300px;overflow:hidden; }
div.slider { width:auto;height:auto;margin-bottom:10px; }

div.item { float:left;width:700px;height:300px;overflow:hidden;background:#CCC; }
div.item img { width:700px;height:300px; }
div.item h3 { margin-top:-70px;margin-left:20px; }
div.item p { margin-left:20px; }

div.thumbsContainer img.thumb { width:60px;height:40px;padding:3px;border:3px solid #CCC;margin-right:5px;cursor:pointer; }
div.thumbsContainer img.selected { border-color:#000000; }

div.nextArrow {margin:-100px 0 0 650px;}
div.prevArrow {margin:-100px 0 0 10px;}

div#sliderContainer {margin:0 auto;}